
.coords-style[data-v-6ff46e57] {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.map-style[data-v-6ff46e57] {
  width: 100%;
  height: 360px;
  margin: 16px auto;
}

.text-h6[data-v-49cb386c] {
  color: #267378;
}

.coords-style[data-v-35e79f8c] {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.map-style[data-v-35e79f8c] {
  width: 100%;
  height: 360px;
  margin: 16px auto;
}

.location-header[data-v-26fb4b42] {
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
}
.logo[data-v-26fb4b42] {
  width: 80px;
  height: 80px;
}
.style[data-v-26fb4b42] {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 10px 0;
}
.text-h6[data-v-26fb4b42] {
  color: #267378;
}
.location-card__list[data-v-26fb4b42] {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.add-location__btn[data-v-26fb4b42] {
  background-color: #267378;
  color: white;
  margin: 10px;
}
