
.product[data-v-37517c3b] {
  display: flex;
  justify-content: space-between;
}

.text-h6[data-v-76325bce] {
  color: #267378;
}
.add-product__btn[data-v-76325bce] {
  background-color: #267378;
  color: white;
  margin: 10px;
}
.product-card__list[data-v-76325bce] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
