// app global css in SCSS form
.q-tab--inactive {
  opacity: 1;
}
.q-tab__label {
  font-weight: 700;
}
.q-tab-panel {
  padding: 16px 16px 50px;
}
.loading-spinner {
  height: 100%;
  align-items: center;
}
.q-drawer--on-top {
  z-index: 7000 !important;
}
.q-select__dialog {
  position: absolute;
  top: 173px;
  width: 100vw !important;
  max-width: 100vw !important;
}
.q-drawer__backdrop {
  z-index: 7000 !important;
}
